<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aprendendo VueJs</title>
</head>
<body>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<div id="app">

		<h1 v-if="message.length > 2">Olá <span v-text="message"></span></h1>
		<h1 v-else>Por favor, escreva seu nome.</h1>
		<input type="text" v-model="message" />
		<button v-on:click="message = message.split('').reverse().join('')">Inverter</button>

		<h1>Lista de tarefas</h1>
		<ul>
			<li v-for="tarefa in tarefas">
				<span v-text="tarefa.title"></span>
				<small v-if="tarefa.completed"> Completa</small>
				<small v-else> Incompleta</small>
			</li>
		</ul>
	</div>

	<script>
		var app = new Vue({
  			el: '#app',
  			data: {
  				message: 'Aprendible',
    			tarefas: [
    				{ title: 'Aprender PHP', completed: true },
    				{ title: 'Aprender Laravel', completed: true },
    				{ title: 'Aprender VueJS', completed: false }
    			]
  			}
		})
	</script>

</body>
</html>